@font-face {
    font-family: 'TT Travels'; 
    src: url(./Fonts/TT-Travels-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'TT Travels'; 
    src: url(./Fonts/TT-Travels-Bold.woff2);
    font-weight: 700;
}

.page {
    width: 1000px;
    margin: 0 auto; 
    font-family: 'Inter';
    color: #000000;
}

a:link {
    color: #000000; 
    text-decoration: none;
  }
  a:visited {
    color: #000000;
  }
  a:hover {
    color: #000000; 
    border-bottom: .07em solid;
  }



.header{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.header_list{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: flex-end;
    padding-top: 32px;
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 9px;
}

.header_logo{
    padding-top: 16px;
    margin-left: 2px;
}

.content_title {
    font-family: 'TT Travels';
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    margin-left: -3px;
    width: 270px;
    margin-top: 53px;
    margin-bottom: 20px;
    }   
    
    .content_paragraph{
    font-size: 14px;
    line-height: 19px;
    width: 390px;   
    margin-left: -3px;
    margin-bottom: 19px;
    margin-top: 0;
    }

    .content_hat_description{
    font-size: 16px;
    display: flex;  
    width: 390px;
    gap: 105px;
    margin-top: 38px;
    margin-bottom: 20px;
    }
    
    
    .hat{
    position: relative;
    left: -52px;
    top:-44px;
}

.product_name{
    font-size: 17px;
    font-family: 'TT Travels';
    font-weight: 700;
    line-height: 17px;
    }

    .colors{
    width: 250px;
    font-size: 14px;
    line-height: 24px;
    
    } 

    .price{
    display: flex;
    font-size: 17px;
    font-family: 'TT Travels';
    font-weight: 400;
    line-height: 2px;
    }

.content_hat{
    display: flex; 
    background: #FBF9F5;
    border-radius: 20px;
    height: 445px;
    margin-block: 60px;
    margin-left: -10px;
    align-items: flex-start;   
    font-weight: 400;
}


.CTA{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: -6px;
}

.button{
    color: #ffffff;
    width: 358.47px;
    height: 63.57px;
    border-radius: 50px;
    background-color: #000000;
    font-family: 'TT Travels';
    font-size: 17.1px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 78px;
    border-color: #000000;
    transition-duration: 0.4s;
    cursor: hand;
}

.button:hover{
    background-color: #ffffff;
    border-color: #000000;
    color:black; 
}

.content_footer{
    display: flex;
    justify-content: space-around;
    background: #D8BC9C;
    font-family:'TT Travels';    
    padding: 28px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}


.footer_list{
    padding-inline-start: 0px;
    flex-direction: column;
    list-style: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 27.5px;
    width: 230px;
    align-self: center;
    column-gap: 100px;
    margin-left: -4px;
    }

    .footer_appicon{
    margin-top: 10px;
    }

    .footer_list_headline{
    font-weight: 600;
    font-size: 16.6085px;
    line-height: 35px;
    }
    .footer-description{
    line-height: 17px;
    margin-top: 14px;
    width: 135px;
    }

    .copyright{
    font-size: 9.5;
    text-align: right;
    margin-right: 55px;
    margin-bottom: 39px;
    margin-top: 10px;
    }

    .bottom{
    display: flex;
    background-color: #D8BC9C;
    flex-direction: column
    }   
    
    .hr{
    border-width: 0.5px;
    margin-left: 52px;
    margin-right: 52px;
    border-style: solid;
    margin-top: -1px;
    opacity: 30%;
    }

    .input{
    border: 0px;
    height: 30px;
    width: 184px;
    border-radius: 3px; 
    padding: 12px;
    font-size: 12px;
    }   

    .input_button{
    height: 30px;
    width: 30px;
    border-width: 0px;
    border-radius: 3px;
    margin-left: 3px;
    cursor: hand;
    }

    .input_button:hover{
    opacity: 80%;
    }

    .social{
    display: flex;
    align-self: auto;
    font-size: 11px;
    gap: 13px;
    margin-right: 0px;
    margin-top: 74px;
}
